@mixin underlineoverline
    border-top: solid $white 2px
    border-bottom: solid $white 2px

@mixin robotoregular
    font-family: 'Roboto', Arial, Helvetica, sans-serif
    font-weight: 400

@mixin robotomedium
    font-family: 'Roboto', Arial, Helvetica, sans-serif
    font-weight: 500

@mixin robotobold
    font-family: 'Roboto', Arial, Helvetica, sans-serif
    font-weight: 700

@mixin button
    width: fit-content
    padding: 1rem 2.25rem
    border: solid $limegreen 2px
    text-transform: uppercase
    transition: all ease 100ms
    @include robotomedium
    &:hover
        background: $white
        color: $textcolor

@mixin padding
    padding-top: 5rem
    padding-bottom: 5rem

@mixin h2
    color: $darktextcolor
    @include robotomedium
    font-size: 1.5rem
    margin-bottom: 1.8rem
    text-transform: uppercase